.newSupplier {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .newSupplierContainer {
    flex: 6;
    margin-left: 233px;

    .wrapper {
      position: relative;
      height: 600px;
      padding: 20px;
      z-index: 21;

      &-cols {
        display: flex;
        // justify-content: space-around;
        gap: 2rem;
        align-items: center;
        margin-top: 3rem;

        &-2,
        &-3 {
          input,
          .gender_type {
            width: 18rem;
            max-width: 18rem;
            height: 2.4rem;
            border-radius: 0.2rem;
            border: none;
            border: 1.8px solid #e6e8ec;
            background-color: rgba(109, 109, 231, 0.017);
            padding: 0 0.5rem;
            font-size: 1rem;

            &:focus {
              border: 1.8px solid #007bff;
              outline: 3px solid #007bff47;
            }
          }

          .pswd-wrapper {
            width: 18rem;
            max-width: 18rem;
            outline: 1.8px solid rgba(109, 109, 231, 0.236);
            background-color: rgba(109, 109, 231, 0.017);
            border-radius: 0.2rem;
            display: flex;
            align-items: center;

            input {
              outline: none;
              background: none;
            }
          }

          .phone,
          .address,
          .email,
          .gender {
            // margin-top: 1rem;
            margin-bottom: 0.3rem;
            color: #04285c;
          }

          .fullName,
          .age {
            margin-bottom: 0.3rem;
            color: #04285c;
          }
        }
      }

      .btn-save {
        width: 12rem;
        height: 2.8rem;
        border-radius: 0.3rem;
        border: none;
        background-color: #007bff;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        position: relative;
        // left: 17rem;
        top: 3rem;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: #105fb4;
        }

        &:active {
          background-color: #007bff1a;
        }
      }

      .title {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
          text-decoration: none;
          color: green;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid green;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
